body {
	background:  -webkit-radial-gradient(center, #215286 30%, #173b61 60%, #071a42 100%)   !important; 
}

body#launch {
	background:  -webkit-radial-gradient(center, #464c53 0%, #08090e 100%)   !important; 
}

@font-face {
	font-family: Antenna-Medium;
	src: url(Antenna-Medium.otf);
}

@font-face {
	font-family: Antenna;
	src: url(Antenna-Regular.otf);
}

@font-face {
	font-family: Antenna-Light;
	src: url(FordAntenna-Thin.otf);
}

body


h1,h2,h3,h4,h5, .button {
	color: #dadada;
	font-weight: 500;
	font-family: "Antenna-Medium", sans-serif;
}

h5 small {
	color: #dadada;
}

div.fayft {
	padding: 3.5em 1.5em 0 0;
}



h3.fayft {
	font-size: 2.2em;
	line-height: 1em;
}

p {
	color: #dadada;
	font-weight: 100;
	font-family: "Antenna", sans-serif;
}

h3 {
	text-align: center
}

.button {
	padding: 15px 70px !important;
	font-size: 1.8em !important; 
}

	#header h3 {
}

.close-button {
	z-index: 99999;
	font-weight: 900;
	color: #c1c6d1;
	position: absolute;
	top: 3px;
	right:3px;
	border: 1px solid #c1c6d1;
	padding: 5px 8px;
	border-radius: 4px;
	/* margin: 10px 10px -40px 0; */
}
	
.instructions {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	padding: 10px 0;
}

#page-1 h1 {
	font-size: 5em;
	line-height: 1em;
}

#page-5 h1 {
	font-size: 5em;
	line-height: 1em;
	color: #388BC6;
	
}

#page-5 h2 {
	font-size: 2em;
	font-family: "Antenna", sans-serif;
	letter-spacing: .032em;
	line-height: 1.5em;

}

label {
	font-size: 1.2em;
	font-weight: 100;
	font-family: "Antenna", sans-serif;
	color: #dadada;
	margin-right: 0px !important;
}

.vehicle-list, .question-list {
	list-style: none;
}

ul.vehicle-list  {
	margin-left: 0px !important;
}

.vehicle-list li{
	float: left;
	font-size: .8em;
	line-height: 1.5em;
	width: 33%;
	
}

input[type="checkbox"] {
	padding: 12px;
	border: 1px solid #dadada;
	color: #fff;
	background: #fff;
	border-radius: 0px;
	margin: 0px;
}

input[type="radio"] {
	padding: 12px;
	background: #fff;
	border: 1px solid #dadada;
	margin: 0px;
}

		input[type="radio"]:checked {
			color: #000 !important;
			background: #190d0d;

		}

.privacy {
	height: 750px;
	overflow: scroll;
}

.question-list input{
	margin: 0px !important;
	line-height: .8em !important;
	font-size: .8em !important;
}

.question-list label{
	font-size: 1em !important;
	font-weight: 100;
	letter-spacing: .1em;
}

a.close-reveal-modal {
	font-weight: 500 !important;
	float: none !important;
	color: #fff !important;
}

.reveal-modal {
	top: 158px;
	background:  -webkit-radial-gradient(center, #215286 30%, #173b61 60%, #071a42 100%)   !important; 
	border: none;
	
}

.event-identifier {
	z-index: 999999;
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-size: 10px;
	color: #b4b4ac;
	letter-spacing: .2em
}

/* error styling */
input.validate-error {
	border: 3px solid #fff;
	background: #ff8c8c;
	
}
